* {
    margin: 0;
    padding: 0;
}

/* Albums Listing */
#albums_list,
#artist_list {
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
}
.album_container,
.artist_container {
    width: 200px;
}
.album_container a,
.artist_container a {
    text-decoration: none;
}
.album_container img,
.artist_container img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


/* Artists Listing */
.artist_container img{
    border-radius: 50%;
}

.track_container img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}