:root {
    --font-body: Arial, Helvetica, "Helvetica Neue", sans-serif;

    
    --primary-color: #212529;
    --secondary-color: #121212;
    --tertiary-color: #dee2e6;
    --light-grey: #d0d0d0;
    --dark-grey: #303030;

    --font-body: 18px;
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--font-body);
}

body {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

header,
footer {
    background-color: var(--secondary-color);
    padding: .7rem 1rem;
}
header img {
    padding: .5rem;
    background-color: var(--primary-color);
    border: var(--tertiary-color) solid 1px;
    border-radius: 50%;
}

main {
    padding: 0 1rem;
}

/* Search */
.search__container {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
}
#search {
    padding: .5rem;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    width: 60%;
    border-radius: 25px;
    border: 1px solid var(--tertiary-color);
    text-align: center;
}
.start__searching {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 52vh;
    
}

.albums, .artists, .tracks,
.tracks__table, .main__info {
    margin-bottom: 2rem;
}

.main__info {
    margin-top: 2rem;
}

/* Albums Listing */
#albums_list,
#artist_list {
    list-style: none;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
}
.album_container,
.artist_container {
    width: 200px;
}
.album_container a,
.artist_container a,
footer a {
    text-decoration: none;
}
.album_container img,
.artist_container img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
.main__info img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
.main__info {
    display: flex;
    gap: 20px;
}
.main__name, .artist__name {
    text-decoration: none;
    color: var(--light-grey);
}
.artist__name {
    font-size: 16px;
}
.main__name:hover,
.artist__name:hover {
    text-decoration: underline;
}
.album_container, .artist_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    width: 210px;
    border-radius: 10px;
}
.artist_container {
    text-align: center;
}
.album_container:hover,
.artist_container:hover,
.tracks tr:hover,
.tracks__table tr:hover {
    background-color: rgba(255, 255, 255, .05);
}
.album__artist {
    display: flex; 
    flex-wrap: wrap;
    max-width: 95%;
}
table {
    width: 100%;
}
.tracks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Artists Listing */
.artist_container img{
    border-radius: 50%;
}

.track_container img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (min-width: 650px) {
    #albums_list,
    #artist_list {
        justify-content: space-around;
        /* overflow-x: hidden; */
    }

    .album_container img,
    .artist_container img {
        width: 200px;
        height: 200px;
    }

    main {
        padding: 0 3rem;
    }

    .tracks {
        display: flex;
        justify-content: center;
        padding: 0 7rem;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
}